<% if @recipes.length == 0 %>
 <h1>There is no public recipe yet</h1>
<% else %>
    <h1> Public Recipes</h1> 

    <div id="recipes">
        <% @recipes.each do |recipe| %>
        <div class="row row-cols-2 border border-primary">
                <h3 class="col"><%= link_to recipe.name, recipe_path(recipe) %></h3>
                <div class="col">Total food items: <br> Total price :$</div>
                <div class="col p-2">By: <%= recipe.user.name%></div>            
            </div>        
        <% end %>
    </div>
<% end %>

<% if !user_signed_in? %>
    <h4> Please <%= link_to "sign up", new_user_registration_path %> or <%= link_to "log in",user_session_path %>  to see the recipes </h4>
<% end %>