  <% @recipes.each do |recipe| %>
    <% if recipe.user == current_user || recipe.public == true %>
        <div class="row row-cols-2 border border-primary">
            <h3 class="col"><%= link_to recipe.name, recipe_path(recipe) %></h3>
            <div class="col"><%= recipe.description %></div>
            <div class="col p-2"><%= link_to "Remove", recipe_path(recipe.id), data: {
                turbo_method: :delete,
                turbo_confirm: "Are you sure?"
                } %>
            </div>
        </div>
    <% end %>
<% end %>