<h1 class= "text-center">Recipes</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<%= link_to "Add new recipe", new_recipe_path, class:"btn btn-primary btn-sm me-md-2" %>
</div>
<%= render partial: 'recipes' %>

