<h1 class= "text-center text-warning">Recipes</h1>
<div class="d-grid gap-2 d-md-flex justify-content-md-end">
<%= link_to "Add new recipe", new_recipe_path, class:"btn btn-outline-success me-md-2 mb-2" %>
</div>
<%= render partial: 'recipes' %>

